h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 7em;
}

/* Navbar Styling */
.navbar-nav .nav-link,
.dropdown-item {
  color: #fff; /* Example: white text for contrast against dark background */
  font-weight: 500; 
  transition: all 0.3s ease; /* Smooth transitions for all properties */
}

/* Hover Effects */
.navbar-nav .nav-link:hover,
.dropdown-item:hover {
  color: #ffda00; /* Example: Warner Bros. yellow on hover */
  font-size: 1.1em; /* Slightly increase font size */
  text-shadow: 0 0 5px #ffda00; /* Subtle glow effect */
}

/* Current Page Styling (optional) */
.navbar-nav .nav-link.active {
  font-weight: bold;
  text-decoration: none; /* or any other visual indicator */
}

/* Width */
::-webkit-scrollbar {
    width: 10px; /* Adjust width as needed */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light grey track */
  }
  
  /* Thumb */
  ::-webkit-scrollbar-thumb {
    background: #cecccc; /* Dark grey thumb */
    border-radius: 5px; /* Rounded corners */
  }
  
  /* Thumb on Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #23aaa3; /* Darker grey on hover */
  }

  
  .col-md-2:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust values as desired */
    transform: translateY(-2px); /* Optional: subtle lift on hover */
    cursor: pointer;
}
